<body>
  <div class="bg-primary text-center  " style="height: 80px;"  >
    <h1 class="text-light mx-5 pt-3"><i class="fab fa-audible text-danger"></i> Bemm Study</h1>
    </div>
    
    
  </div>


  <!-- body main -->
  <div class="main mx-3 mt-1 flex-grow-1 ">
    <div class="row pb-5 mb-2" >
     
        <div class="col-6 ">
          <div class=" flex-grow-1 ">
            <!-- <div class="text-light bg-primary fs-6">
              <div class="row">
                <div class="col-10">
                  <i class="fab fa-accusoft"></i> {{nameSubject}}

                </div>
                <div class="col-2">
                  <div class="badge bg-info float-end">1 Điểm</div>
                </div>
              </div>
            </div> -->
        

              <div class="card-body my-2 d-flex flex-column justify-content-evenly">
                <div>
                  <span class="fw-bold fs-3  text-primary ">Câu {{CurrentQs +1}}: </span>
                  <br>
                  <label class="text-dark fw-bolder fs-4">{{Question.text}}</label>
                
                </div>
                <hr>
                <div class="list-question">
                  <div class="text-dark">
                    <div ng-repeat="qs in Question.answers" ng-class="renderclassas(Question , qs.id)"  >
                      <input ng-checked="Question.answer == qs.id" class="form-check-input question-item-check position-absolute " type="radio" name="question-item" id="question-item-{{$index}}" >

                      <label class="fw-normal form-check-label fs-4 mx-2 w-100 card question-item  px-5"  for="question-item-{{$index}}">
                        
                        {{qs.text}}
                      </label>
                    </div>

                   
                  </div>
                 
         
                </div>

              </div>
              <div class=" control-question card-footer d-flex justify-content-evenly">
                <button  ng-click="BackQs(Question.id)" class="btn btn-dark col-3"><i class="fas fa-arrow-left"></i></button>
                <button ng-click="NextQs(Question.id)" class="btn btn-dark col-3"><i class="fas fa-arrow-right"></i></button>

              </div>
          </div>
        
        </div>
        <div class="col-6  ">
          <div class="card shadow-sm mb-5">
            <div class="card-header bg-dark text-light ">
              <div class="row">
                <div class="col-7">
                 
                  
                      <i class="fab fa-accusoft"></i> {{result.name}} 
                 
                  
                  
                </div>
                <div class="col-5 text-end text-warning">
                  <span class="ml-3 col-3 badge border-dark text-light border bg-danger">Sai</span> - <span class="badge col-3 bg-success">Đúng</span> - <span class="badge col-3 bg-light border border-success text-dark">Chưa làm</span>
                </div>
              </div>
            </div>
            <div class="card-body row text-center d-flex justify-content-between "  >
              <div class="progress p-0">
                <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" ng-style="style"aria-valuenow="{{PercentTime}}" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <span>

              </span>
               <button ng-repeat="m in subject" id="qs{{m.id}}" style="min-width: 45px;" ng-click="Qs($index)" ng-class="renderclassQS(m)">{{$index < 9 ? "0" + ($index + 1) : ($index + 1)}}</button>

            </div>
            <div class="card-footer d-flex justify-content-center">
                <!-- <a type="submit" ng-click="submit()" class="btn btn-danger col-8" >NỘP BÀI</a> -->
            </div>
          </div>
        </div>
    
      
    </div>
</div>
</body>