<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="./css/bootstrap.min.css">
  <link rel="stylesheet" href="./css/base.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  <script src="https://code.angularjs.org/1.8.2/angular-route.min.js"></script>
  <script src="./js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  <script src="./js/bootstrap.min.js"></script>
  
  <script src="./js/base.js"></script>
  <script src="./js/app.js"></script>
  <script src="./js/exam.js" ></script>
  <script src="./js/Histories.js" ></script>


  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
    integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />

  <title>ASM WEB 2</title>
</head>

<body ng-app="app">

  <div class="app" ng-controller = "mainController">
    <!-- START - NAV -->
    <nav class="shadow fixed-top navbar navbar-light bg-light row">
        <div class="col-6 nav_item-logo d-flex align-items-center px-3">
          <button  ng-click="hideNav()" class="btn" data-bs-toggle="offcanvas" data-bs-target="sidebar"><i class="fas fa-list text-dark"></i></button>
          <a href="#home" class="navbar-brand fw-bold text-dark mx-4">
            <img class="mb-1 " src="./images/bee_512.png" alt="Logo" width="30" height="24">
            BemmTeam
          </a>
          
          <div class="input-group input-search mx-2">
            <input ng-model="search" type="text" class="form-control" placeholder="Nhập môn cần tìm" aria-label="Recipient's username" \>
            <button class="btn btn-secondary" type="button" ><i class="fas fa-search"></i></button>
          </div>
         </div>
         <!-- item nav - action 2 -->
         <div class="col-6 nav_item-action d-flex align-items-center justify-content-end " ng-if="!isLogin">
          <a type="button" class="btn text-dark hover-text" href="#signin" > Đăng nhập </a>
        
          <a type="button" class="btn text-dark hover-text" href="#signup"> Đăng Ký</a>
         </div>

         <div class="col-6 nav_item-action d-flex align-items-center justify-content-end  text-end px-5" ng-if="isLogin">
            
              <div >
                <img src="./images/facelogo.png" class="position-relative mx-2" style="top:6px" height="25" width="25" alt="">
              </div>
              <div class="">
               <div class="btn-group">
                <a type="button" class="btn-user text text-dark hover-text " data-bs-toggle="dropdown" aria-expanded="false" href="#signin" > {{user.fullname}} <i class="fas fa-caret-down"></i></a>
           
                <ul class="dropdown-menu  shadow-lg text-light mt-3 mx-3" style="position: absolute; left: -55px;
                top: 28px;">
                  <li><a class="dropdown-item" href="#profile">Thông tin tài khoản</a></li>
                  <li><a class="dropdown-item" href="#listHistory/{{user.username}}">Lịch sử làm bài</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><button class="dropdown-item text-danger" ng-click="logout()">Đăng xuất</button></li>
                </ul>
              </div>
              </div>

         </div>
    </nav>
    <!-- END - NAV -->

    <main class="color-body body row"  style="--bs-gutter-x: 0 ; min-height: 100vh;" ng-controller = "subjectController" >
     <!-- START - SIDEBAR -->

         <div class="col navfixed" ng-show="nav" >
          <div class="" >
            <div id="sidebar" class="shadow-lg nav bg-dark " >
              <div class="d-flex flex-column justify-content-start " style="max-height: calc(100vh - 56px);">
                <div class="box-header">
                  <h5 class="text-primary text-center mt-2"><i class="fas fa-book"></i> Danh mục môn học</h5>
                  <hr>
                </div>
                <div class="box-subjects flex-grow-1" >
                
                <div class="nav-item mt-2" ng-repeat="subject in subjects">
                  <a class="subject-item-header nav-link text-light " href="#subject/{{subject.id}}/{{subject.name}}"><i class="fas fa-stroopwafel"></i> {{subject.name}}</a>
      
                </div>
               
                </div>
                <div class="text-center  "  >
                <hr style="margin-top: 0px;">
                  <h4 class="text-warning text-center col-12">BemmTeam</h4>
                  <p class="text-center col-12">PS16903 - Nguyễn Thành</p>
                </div>
              </div>
            </div>
          </div>
         </div>
         
     <!-- END - SIDEBAR -->

         <!-- START - BODY -->
        
        <article class="col d-flex flex-column justify-content-end" data-bs-spy="scroll">
          
        <!-- render body -->
        <div class="main-body-render flex-grow-1"   ng-view>
          
        </div>
        <footer class="col-12 footer bg-dark mt-5">
          <div >
            <div class="col-12 text-center pt-2">
              <a class="mx-2 text-light" href="#contact" style="text-decoration: none;" href="">Giới thiệu</a>
              <a class="mx-2 text-light"  href="#contact" style="text-decoration: none;" href="">Liên hệ</a>
              <a class="mx-2 text-light"  href="#contact" style="text-decoration: none;" href="">Góp ý</a>
              <a class="mx-2 text-light"  href="#contact" style="text-decoration: none;" href="">Hỏi đáp</a>
              <hr class="bg-light">
            </div>
            <div class="col-12 d-flex justify-content-between h-100">
              <div class="brands mx-2 d-flex " style="position: relative; top: -8px;">
                <img src="./images/bee_512.png" width="27px" alt="">
                <span class="mx-2"> © 2022 BemmTeam - Nguyễn Thành, Inc</span>
              </div>
              <div class="brands mx-2 d-flex " style="position: relative; top: -8px;">
                <i class="fab fa-facebook-square mx-2 fs-4"></i>
                <i class="fab fa-youtube mx-2 fs-4"></i>
                <i class="fab fa-blogger mx-2 fs-4"></i>
                <i class="fab fa-twitter-square mx-2 fs-4"></i>
              </div>
            </div>
          </div>
      </footer>
        </article>


     

      <!-- END - BODY -->
    </main>

 


  </div>

</body>

</html>