<body>
  
  <div  class="bg-primary bg-gradient h-100">
        
    <div class="banner p-5 ">
      <div class="body-title-warp row ">
        <div class="body-title text-center mx-auto col-12">
          <h1 class="text-light mx-5"><i class="fab fa-audible text-danger"></i> Bemm Study</h1>
          <h6 class="text-light mx-5 fw-light fst-itali">Trang thi trắc nghiệm kiến thức đầu hàng Việt Nam</h6>

        </div>

      </div>


    </div>




    <!-- body main -->
    <div class="main-login mx-5 mt-3">
      <div class="row  ">

        
        <div class="col-6">
          <div class="card shadow-lg ">
            <h2 class="text-dark text-center text-uppercase">Đăng nhập</h2>
            <p class="text-dark text-center">Xin chào! vui lòng nhập thông tin để đăng nhập</p>
            <form class="row g-3 needs-validation" validate>
              <div class="col-12 px-5">
                
                <div class="form-group">
                  <div class="input-group flex-nowrap">
                    <span class="input-group-text text-primary" id="addon-wrapping"><i class="fas fa-user"></i></span>
                    <input required ng-model="userLogin.user" type="text" class="form-control" placeholder="Nhập tên tài khoản" aria-label="Username" aria-describedby="addon-wrapping">
                  </div>
                </div>
                     
                <div class="form-group mt-4">
                  <div class="input-group flex-nowrap">
                    <span class="input-group-text text-primary" id="addon-wrapping"><i class="fas fa-key"></i></i></span>
                    <input required ng-model="userLogin.pass" type="text" class="form-control" placeholder="Nhập mật khẩu" aria-label="password" aria-describedby="addon-wrapping">
                  </div>
                </div>

           
                <div class="form-group mt-3">
                    <div class="alert alert-danger" ng-if="!userLogin.isSuccess">
                      <i class="fas fa-times fs-5" style="position: relative; top: 2px"></i>
                        Tên đăng nhập hoặc mật khẩu không đúng !
                    </div>
                </div>
                <div class="form-group">
                  <button class="btn btn-primary col-12 fs-5 text-uppercase text-light" ng-click = "login('teonv' , 'iloveyou')">Đăng nhập</button>
                </div>
                <div class="form-group mt-2 float-end">
                 <a style="cursor: pointer;" class="my-5 text-info" href="#signup" >Bạn chưa có tài khoản? Đăng ký</a>
                </div>
              </div>
              
            </form>
           
          </div>
        </div>
        <div class="col-6">
          <img src="./images/login.png" class="col-12" height="60%" style="position: relative; top: -20px;">
        </div>
      </div>
     
   
    </div>
  </div>

</body>